<p>Dear user.name</p>
<p>
  There is a new invoice available for {{organization.name}} for the amount of ${{invoice.amount}}.
  It is due on {{formatDate invoice.due organization.timezone}}.
</p>
<p>
  Thanks,
  <br />
  Growth Ramp
</p>
