<p>Dear {{user.email}},</p>
<p>Your Growth Ramp audit for {{website.name}} is ready!</p>
<p>To see the results from the audit, <a href="https://app.growthramp.io/analytics/content-audit">click here</a>.</p>
<p>
  Thanks,
  <br />
  Growth Ramp
</p>
<br />
<br />
<p>To unsubscribe from these emails, <a href="https://app.growthramp.io/settings/accountSettings">click here</a>.</p>
