<p>Hello,</p>
<p>A password reset has been requested for your account at Growth Ramp.</p>
<p>If you requested this, please visit the following page to reset your password.</p>
<p><a href="https://app.growthramp.io/resetPassword?token={{{token}}}">https://app.growthramp.io/resetPassword?token={{token}}</a>.</p>
<p>
  Thanks,
  <br />
  Growth Ramp
</p>
