<p>Dear {{user.firstName}},</p>
<p>Welcome to Growth Ramp!</p>
<p> To confirm this email for your Growth Ramp account, <a href="https://www.growthramp.io/confirmEmail?token={{{token}}}">click here</a>.</p>
<p>
  Thanks,
  <br />
  Growth Ramp
</p>
