/*don't put this into source control

#if I ever with the backend on a different server anyway, it'll be fine to have 2 different environment variable files
#probably won't overlap too much anyway with environment variables
*/

module.exports.env = {
  CLIENT_FACEBOOK_SECRET: '',
  CLIENT_FACEBOOK_ID: '',
  TWITTER_CONSUMER_KEY: '',
  TWITTER_CONSUMER_SECRET: '',
  CLIENT_LINKEDIN_ID: '',
  CLIENT_LINKEDIN_SECRET: '',
  MAILGUN_PRIVATE_KEY: '',
  MAILGUN_PUBLIC_KEY: '',
  RUN_BACKGROUND_JOBS: 'true',

  //for developers console
  GOOGLE_API_KEY: '',
  GOOGLE_CLIENT_ID: '89645594679-b19l84l9tkph41fk15pe6796ksi94plm.apps.googleusercontent.com',
  GOOGLE_CLIENT_SECRET: '',
  TOKEN_ENCRYPTION_KEY: '', //should be 32 characters
  STRIPE_SECRET_KEY: "sk_test_qmIgEP13FMTO3UKmo4DcS9Hn", //this one is the test one; live one overrides it in heroku

  PG_PASSWORD: 'postgres',
  PG_USER: 'postgres',
  PG_DATABASE: 'growth-ramp',
  API_URL: 'http://localhost:1337',
  CLIENT_URL: 'http://www.local.dev:5000',
}

